@mixin css-alerts($alertTypes: ('info', 'warning', 'success', 'danger', 'error'))
{
    //############## ALERTS ##############

    .alert
    {
        padding: var(--alert-padding, 6px 8px);
        border-radius: var(--alert-borderRadius, 4px);
        border-width: var(--alert-borderWidth);
        border-style: var(--alert-borderStyle);
        margin: var(--alert-margin, 0);
    }
 
    @include generate-alert($alertTypes);
}

@mixin generate-alert($alerts)
{
    @each $alert in $alerts
    {
        .alert-#{$alert}
        {
            background-color: var(--alert-#{$alert}-background);
            color: var(--alert-#{$alert}-foreground);
            border-color: var(--alert-#{$alert}-background);
        }
    }
}