@use '@css-styles/common' as mixins;

@mixin css-blocks
{
    //############## BLOCKS ##############
    
    .highlight-block
    {
        @include mixins.thin-scrollbar-color(--block-highlight-scrollbar);

        background-color: var(--block-highlight-background);
        color: var(--block-highlight-foreground);
        padding: var(--size-sm);
        border-radius: var(--border-radius);
    }
}