@use '@css-styles/common' as mixins;

@mixin css-blocks($blockTypes: ('highlight'))
{
    //############## BLOCKS ##############

    @each $block in $blockTypes
    {
        
        .#{$block}-block
        {
            @include mixins.thin-scrollbar-color(--block-#{$block}-scrollbar);

            padding: var(--block-#{$block}-padding);
            border-radius: var(--block-#{$block}-borderRadius);
            background-color: var(--block-#{$block}-background);
            color: var(--block-#{$block}-foreground);
        }
    }
}