@mixin css-buttons($buttonTypes: ('primary', 'success', 'info', 'warning', 'danger'), $states: (onlyContent: only-content))
{
    //############## BUTTONS SPACING ##############
    .buttons-gap
    {
        column-gap: var(--buttons-columnGap);
        row-gap: var(--buttons-rowGap);
    }

    //############## BUTTONS ##############
    %btn-base
    {
        padding: var(--button-padding);
        transition: var(--button-transition);
        text-shadow: var(--button-textShadow);
        box-shadow: var(--button-boxShadow);
        border-width: var(--button-borderWidth);
        border-style: var(--button-borderStyle);
        border-radius: var(--button-borderRadius);
        font-family: var(--button-fontFamily);
        font-weight: var(--button-fontWeight);
        line-height: var(--button-lineHeight);
        letter-spacing: var(--button-letterSpacing);
        min-width: var(--button-minWidth);
        width: var(--button-width);
        text-transform: var(--button-textTransformation);
        gap: var(--button-contentGap);
        justify-content: var(--button-justifyContent);
        align-items: var(--button-alignItems);
        cursor: var(--button-cursor);
        white-space: var(--button-whiteSpace);
        position: var(--button-position);
        display: var(--button-display);
        flex-direction: var(--button-flexDirection);
        text-decoration: var(--button-textDecoration);

        background-image: none;

        .text
        {
            font-size: var(--button-fontSize);
        }
    }

    .btn
    {
        @extend %btn-base;

        &.disabled,
        &:disabled
        {
            opacity: var(--button-disabled-opacity);
            cursor: var(--button-disabled-cursor);
        }

        &.icon-only
        {
            padding: 0;
        }
    }

    multi-button.btn
    {
        padding: 0;

        button
        {
            @extend %btn-base;
        }
    }

    @include generate-button($buttonTypes, $states);
}

@mixin generate-button($buttonTypes, $states)
{
    //############## GENERATE TYPES ##############
    @each $buttonType in $buttonTypes
    {
        .btn-#{$buttonType}
        {
            border-color: var(--button-#{$buttonType}-borderColor);
            background-color: var(--button-#{$buttonType}-background);
            color: var(--button-#{$buttonType}-foreground);

            .icon
            {
                color: var(--button-#{$buttonType}-icon);
            }

            &:hover,
            &:focus
            {
                border-color: var(--button-#{$buttonType}-hover-borderColor);
                background-color: var(--button-#{$buttonType}-hover-background);
                color: var(--button-#{$buttonType}-hover-foreground);

                .icon
                {
                    color: var(--button-#{$buttonType}-hover-icon);
                }
            }

            &:active
            {
                border-color: var(--button-#{$buttonType}-active-borderColor);
                background-color: var(--button-#{$buttonType}-active-background);
                color: var(--button-#{$buttonType}-active-foreground);

                .icon
                {
                    color: var(--button-#{$buttonType}-active-icon);
                }
            }

            &.disabled,
            &:disabled
            {
                border-color:var(--button-#{$buttonType}-disabled-borderColor, var(--button-disabled-borderColor));
                background-color: var(--button-#{$buttonType}-disabled-background, var(--button-disabled-background));
                color: var(--button-#{$buttonType}-disabled-foreground, var(--button-disabled-foreground));

                .icon
                {
                    color: var(--button-#{$buttonType}-disabled-icon, var(--button-disabled-icon));
                }
            }

            //############## GENERATE STATES ##############
            @each $stateName, $stateClass in $states
            {
                &.#{$stateClass}
                {
                    border-color: var(--button-#{$buttonType}-#{$stateName}-borderColor);
                    background-color: var(--button-#{$buttonType}-#{$stateName}-background);
                    color: var(--button-#{$buttonType}-#{$stateName}-foreground);

                    .icon
                    {
                        color: var(--button-#{$buttonType}-#{$stateName}-icon);
                    }

                    &:hover,
                    &:focus
                    {
                        border-color: var(--button-#{$buttonType}-#{$stateName}-hover-borderColor);
                        background-color: var(--button-#{$buttonType}-#{$stateName}-hover-background);
                        color: var(--button-#{$buttonType}-#{$stateName}-hover-foreground);

                        .icon
                        {
                            color: var(--button-#{$buttonType}-#{$stateName}-hover-icon);
                        }
                    }

                    &:active
                    {
                        border-color: var(--button-#{$buttonType}-#{$stateName}-active-borderColor);
                        background-color: var(--button-#{$buttonType}-#{$stateName}-active-background);
                        color: var(--button-#{$buttonType}-#{$stateName}-active-foreground);

                        .icon
                        {
                            color: var(--button-#{$buttonType}-#{$stateName}-active-icon);
                        }
                    }

                    &.disabled,
                    &:disabled
                    {
                        border-color: var(--button-#{$buttonType}-#{$stateName}-disabled-borderColor, var(--button-#{$buttonType}-disabled-borderColor, var(--button-disabled-borderColor)));
                        background-color: var(--button-#{$buttonType}-#{$stateName}-disabled-background, var(--button-#{$buttonType}-disabled-background, var(--button-disabled-background)));
                        color: var(--button-#{$buttonType}-#{$stateName}-disabled-foreground, var(--button-#{$buttonType}-disabled-foreground, var(--button-disabled-foreground)));

                        .icon
                        {
                            color: var(--button-#{$buttonType}-#{$stateName}-disabled-icon, var(--button-#{$buttonType}-disabled-icon, var(--button-disabled-icon)));
                        }
                    }
                }
            }
        }
    }
}