@use '@css-styles/common' as vars;

@mixin css-common
{
    //############## MISC ##############

    .semi-tight
    {
        font-size: 0.9em;
    }

    .tight
    {
        font-size: 0.8em;
    }

    hr
    {
        margin-bottom: var(--size-xs);
        margin-top: var(--size-xs);
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--separator-foreground);
    }

    .text-selection
    {
        user-select: text;
    }

    .line-height-default
    {
        line-height: 1em;
    }

    //############## TEXTS ##############

    .text-primary
    {
        color: var(--text-primary-foreground);
        background-color: var(--text-primary-background);
    }

    .text-danger,
    .text-error
    {
        color: var(--text-danger-foreground);
        background-color: var(--text-danger-background);
    }

    .text-warning
    {
        color: var(--text-warning-foreground);
        background-color: var(--text-warning-background);
    }

    .text-success
    {
        color: var(--text-success-foreground);
        background-color: var(--text-success-background);
    }

    .text-info
    {
        color: var(--text-info-foreground);
        background-color: var(--text-info-background);
    }
}
