@use '@css-styles/common' as vars;

@mixin css-common
{
    //############## MISC ##############

    .semi-tight
    {
        font-size: 0.9em;
    }

    .tight
    {
        font-size: 0.8em;
    }

    hr
    {
        margin-bottom: var(--size-xs);
        margin-top: var(--size-xs);
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--separator-foreground);
    }

    .text-selection
    {
        user-select: text;
    }

    .text-selection-disabled
    {
        user-select: none;
    }

    .line-height-default
    {
        line-height: 1em;
    }
}
