@mixin css-forms
{
    //############## CONTROL LABEL ##############

    .control-label
    {
        display: block;
        font-size: var(--label-font-size);
        font-weight: var(--label-font-weight);
        color: var(--label-foreground);
        background-color: var(--label-background);
        letter-spacing: var(--label-letterSpacing);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    //############## FORM CONTROL ##############

    %form-control
    {
        border-radius: var(--input-borderRadius);
        border-style: var(--input-borderStyle);
        border-width: var(--input-borderWidth);
        box-shadow: var(--input-boxShadow);
        font-size: var(--input-fontSize);
        padding: var(--input-padding);
        width: 100%;
        font-family: var(--font-family);
        color: var(--input-foreground);
        border-color: var(--input-border);
        background-color: var(--input-background);

        &::placeholder
        {
            color: var(--input-placeholder-foreground);
            opacity: var(--input-placeholder-opacity);
            letter-spacing: var(--input-placeholder-letterSpacing);
        }

        &:disabled,
        &.disabled
        {
            background-color: var(--input-disabled-background);
            color: var(--input-disabled-foreground);
            border-color: var(--input-disabled-border);
        }

        &:focus
        {
            background-color: var(--input-focus-background);
            color: var(--input-focus-foreground);
            border-color: var(--input-focus-border);
        }
    }

    .form-group
    {
        display: flex;
        flex-direction: var(--formGroup-direction);
        gap: var(--formGroup-gap);
    }

    .form-control:not(ng-select)
    {
        @extend %form-control;
    }

    div,
    span
    {
        &.form-control:empty::after
        {
            content: '\00a0';
        }
    }

    .form-control-static
    {
        padding: var(--size-3px);
        padding-left: var(--size-3px);
        padding-left: var(--size-7px);
        margin-bottom: 0.9em;
        color: var(--input-foreground);
    }

    ng-select.form-control
    {
        .form-control-select
        {
            @extend %form-control;

            display: flex;
            
            .selected-value
            {
                flex: 1;
                text-align: left;
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .select-input
            {
                display: block;
                border: none;
                padding: 0;
                font-size: 1em;
                width: 100%;

                &::placeholder
                {
                    color: var(--input-placeholder-foreground);
                    opacity: var(--input-placeholder-opacity);
                    letter-spacing: var(--input-placeholder-letterSpacing);
                }
            }

            .cancel-selected
            {
                padding: 0 var(--size-2px);
            }

            .selected-multi-value
            {
                font-size: var(--select-tag-fontSize);
                padding: var(--select-tag-padding);
                background: var(--select-tag-background);
                color: var(--select-tag-foreground);
            }
        }
    }

    .popup-div
    {
        max-height: 45vh;
    }

    //############## INPUT GROUP ##############

    .input-group
    {
        display: flex;
        flex-direction: row;
        width: 100%;

        .input-group-addon
        {
            color: var(--input-groupAddon-foreground);
            background-color: var(--input-groupAddon-background);
            border-color: var(--input-border);
            padding: var(--input-groupAddon-padding);
            border-top-style: var(--input-borderStyle);
            border-bottom-style: var(--input-borderStyle);
            border-top-width: var(--size-1px);
            border-bottom-width: var(--size-1px);
            display: flex;
            align-items: center;

            &:first-child
            {
                border-left-width: var(--size-1px);
                border-left-style: var(--input-borderStyle);
                border-top-left-radius: var(--input-borderRadius);
                border-bottom-left-radius: var(--input-borderRadius);
            }

            &:last-child
            {
                border-right-width: var(--size-1px);
                border-right-style: var(--input-borderStyle);
                border-top-right-radius: var(--input-borderRadius);
                border-bottom-right-radius: var(--input-borderRadius);
            }
        }

        &:focus-within
        {
            .input-group-addon
            {
                border-color: var(--input-focus-border);
            }
        }

        .form-control
        {
            flex: 1;
            min-width: 0;
            min-height: 0;
            border-radius: 0;
            z-index: 1;

            &:first-child
            {
                border-top-left-radius: var(--input-borderRadius);
                border-bottom-left-radius: var(--input-borderRadius);
            }

            &:last-child
            {
                border-top-right-radius: var(--input-borderRadius);
                border-bottom-right-radius: var(--input-borderRadius);
            }
        }
    }

    //############## FORM ERRORS ##############

    .has-error
    {
        %control-error
        {
            outline-color: transparent;
            outline-style: solid;
            outline-width: var(--input-invalid-outlineWidth);
            border-color: var(--input-invalid-border);

            &:active,
            &:focus
            {
                outline-color: var(--input-error-outline);
            }
        }

        .control-label
        {
            color: var(--label-invalid-foreground);
        }

        .form-control:not(ng-select)
        {
            @extend %control-error;
        }

        ng-select.form-control
        {
            .normal-state button.form-control-select,
            .edit-normal-state div.form-control-select
            {
                @extend %control-error;

                display: flex;
            }
        }

        &:focus-within
        {
            .input-group-addon
            {
                outline-color: var(--input-error-outline);
                border-color: var(--input-invalid-border);
            }
        }

        .input-group-addon
        {
            @extend %control-error;
        }
    }

    .validation-error-div
    {
        &>div
        {
            font-size: var(--input-errors-fontSize);
            padding: var(--input-errors-padding);
            background-color: var(--input-errors-background);
            color: var(--input-errors-foreground);
            border-color: var(--input-errors-border-color);
            border-width: var(--input-errors-border-width);
            border-style: var(--input-errors-border-style);
        }
    }

    .form-error
    {
        list-style: square;
        display: list-item;
        margin-left: var(--size-14px);
    }

    reserved-space-validation-errors-container>div
    {
        min-height: .9em;
    }

    //############## FORM SPACING ##############

    .inputs-gap
    {
        column-gap: var(--inputs-columnGap);
        row-gap: var(--inputs-rowGap);
    }
}