@mixin css-titles
{
    //############## TITLES ##############

    .page-title
    {
        background-color: var(--title-page-background);
        color: var(--title-page-foreground);
        padding: var(--title-page-padding);
        margin: var(--title-page-margin);
        font-size: var(--title-page-fontSize);
    }

    .section-title
    {
        margin-bottom: var(--size-xs);
        margin-left: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1.05em;
    }

    .subsection-title
    {
        margin-bottom: var(--size-xs);
        margin-left: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 0.9em;
    }
}