@mixin css-titles
{
    //############## TITLES ##############

    .page-title
    {
        background-color: var(--pageTitle-background);
        color: var(--pageTitle-foreground);
        padding: var(--pageTitle-padding);
        font-size: var(--pageTitle-fontSize);
        margin: var(--pageTitle-margin);
        border: var(--pageTitle-border);
        border-top: var(--pageTitle-borderTop);
        border-right: var(--pageTitle-borderRight);
        border-bottom: var(--pageTitle-borderBottom);
        border-left: var(--pageTitle-borderLeft);

        .btn-icon
        {
            color: var(--pageTitle-foreground);
        }
    }

    .section-title
    {
        margin-bottom: var(--size-xs);
        margin-left: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1.05em;
    }

    .subsection-title
    {
        margin-bottom: var(--size-xs);
        margin-left: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 0.9em;
    }
}