@use 'sass:color';
@use 'sass:map';

@use '@css-styles/common' as mixins;

@use './defaultColors' as colors;

@function defineTheme($fontSize: 14px, $theme: (), $customization: ())
{
    //############## DEFAULT THEME ##############
    $defaultTheme:
    (
        fontFamily: 'Inter',
        page:
        (
            background: colors.$white,
            foreground: colors.$black,
            scrollbar: colors.$gray-200,
        ),
        title:
        (
            page:
            (
                background: colors.$gray-800,
                foreground: colors.$gray-100,
                padding: 1rem 1.5rem,
                margin: var(--size-fixed-sm) 0 0,
                fontSize: 1.5em,
            ),
        ),
        block:
        (
            highlight:
            (
                padding: var(--size-sm),
                borderRadius: var(--size-borderRadius-xs),
                background: colors.$white,
                foreground: colors.$black,
                scrollbar: colors.$gray-200,
            ),
        ),
        misc:
        (
            separator:
            (
                foreground: colors.$gray-600,
            ),
        ),
        level:
        (
            succes: colors.$green-600,
            info: colors.$azure-500,
            warning: colors.$orange-800,
            error: colors.$red-600,
            default: colors.$gray-500,
        ),
        theme:
        (
            primary: unset,
            onPrimary: unset,
            secondary: unset,
            onSecondary: unset,
            tertiary: unset,
            onTertiary: unset,
            success: unset,
            onSuccess: unset,
            info: unset,
            onInfo: unset,
            warning: unset,
            onWarning: unset,
            error: unset,
            onError: unset,
            primaryContainer: unset,
            onPrimaryContainer: unset,
            secondaryContainer: unset,
            onSecondaryContainer: unset,
            tertiaryContainer: unset,
            onTertiaryContainer: unset,
        ),
        alert:
        (
            padding: mixins.getSize($fontSize, 6) mixins.getSize($fontSize, 8),
            borderRadius: var(--size-borderRadius-xs),
            borderWidth: var(--size-1px),
            borderStyle: solid,
            margin: 0,
            info:
            (
                background: colors.$azure-500,
                foreground: colors.$white,
                borderColor: var(--alert-info-background),
            ),
            warning:
            (
                background: colors.$orange-800,
                foreground: colors.$white,
                borderColor: var(--alert-warning-background),
            ),
            success:
            (
                background: colors.$green-600,
                foreground: colors.$white,
                borderColor: var(--alert-success-background),
            ),
            danger:
            (
                background: colors.$red-600,
                foreground: colors.$white,
                borderColor: var(--alert-danger-background),
            ),
            error:
            (
                background: colors.$red-600,
                foreground: colors.$white,
                borderColor: var(--alert-error-background),
            ),
        ),
        text:
        (
            primary:
            (
                background: inherit,
                foreground: colors.$blue-500,
            ),
            danger:
            (
                background: inherit,
                foreground: colors.$red-600,
            ),
            warning:
            (
                background: inherit,
                foreground: colors.$orange-800,
            ),
            success:
            (
                background: inherit,
                foreground: colors.$green-600,
            ),
            info:
            (
                background: inherit,
                foreground: colors.$azure-500,
            ),
        ),
        mainMenu:
        (
            background: colors.$white,
            backgroundGradient: colors.$white,
            backgroundGradient2: colors.$white,
            foreground: colors.$gray-600,
            active:
            (
                foreground: colors.$white,
                background: inherit,
            ),
            drawer:
            (
                background: colors.$white,
                foreground: colors.$black,
            )
        ),
        dialog:
        (
            border: colors.$gray-700,
            borderRadius: var(--size-borderRadius-xs),
            title:
            (
                textTransform: uppercase,
                letterSpacing: var(--size-1px),
                background: colors.$gray-800,
                foreground: colors.$gray-50,
                
            ),
            content:
            (
                background: colors.$white,
                foreground: colors.$black,
            ),
            closeButton:
            (
                background: colors.$gray-700,
                foreground: colors.$gray-50,
                hover:
                (
                    background: colors.$gray-700,
                    foreground: colors.$gray-50,
                ),
            ),
        ),
        formGroup:
        (
            direction: column,
            gap: mixins.getSize($fontSize, 2),
        ),
        inputs:
        (
            columnGap: mixins.getSize($fontSize, 10),
            rowGap: mixins.getSize($fontSize, 10),
        ),
        input:
        (
            background: colors.$white,
            foreground: colors.$gray-600,
            border: colors.$gray-300,
            borderRadius: var(--size-borderRadius-fixed-xs),
            borderStyle: solid,
            letterSpacing: inherit,
            borderWidth: var(--size-1px),
            boxShadow: none,
            padding: mixins.getSize($fontSize, 5) mixins.getSize($fontSize, 12),
            placeholder:
            (
                foreground: colors.$gray-400,
                letterSpacing: inherit,
                opacity: 0.8,
            ),
            groupAddon:
            (
                background: color.scale(colors.$gray-50, $lightness: 30%),
                foreground: inherit,
                padding: mixins.getSize($fontSize, 5) mixins.getSize($fontSize, 4),
            ),
            disabled:
            (
                background: colors.$gray-400,
                foreground: colors.$gray-600,
                border: colors.$gray-300,
            ),
            focus:
            (
                background: var(--input-background),
                foreground: var(--input-foreground),
                border: var(--input-border),
            ),
            invalid:
            (
                border: colors.$red-600,
                outlineWidth: var(--size-2px),
            ),
            error:
            (
                background: inherit,
                foreground: colors.$red-600,
                outline: colors.$red-600,
            ),
            errors:
            (
                background: inherit,
                foreground: colors.$red-600,
                fontSize: 0.7em,
                padding: 0,
                border:
                (
                    color: transparent,
                    width: 0,
                    style: solid,
                ),
            ),
        ),
        label:
        (
            background: inherit,
            foreground: inherit,
            letterSpacing: inherit,
            lineHeight: 1em,
            font:
            (
                size: 1em,
                weight: bold,
            ),
            invalid:
            (
                foreground: colors.$red-600,
                background: inherit,
            ),
        ),
        select:
        (
            tag:
            (
                background: colors.$blue-500,
                foreground: colors.$black,
                padding: mixins.getSize($fontSize * .8, 1) mixins.getSize($fontSize * .8, 3),
                fontSize: .8em,
            ),
        ),
        grid:
        (
            header:
            (
                background: colors.$gray-800,
                foreground: colors.$white,
            ),
            evenRow:
            (
                background: colors.$white,
                foreground: inherit,
            ),
            oddRow:
            (
                background: colors.$gray-50,
                foreground: inherit,
            ),
        ),
        buttons:
        (
            columnGap: mixins.getSize($fontSize, 10),
            rowGap: mixins.getSize($fontSize, 10),
        ),
        button:
        (
            padding: mixins.getSize($fontSize, 4) mixins.getSize($fontSize, 10),
            transition: all 350ms,
            textShadow: 0 0,
            boxShadow: 0 0,
            borderWidth: var(--size-1px),
            borderStyle: solid,
            borderRadius: var(--size-borderRadius-xs),
            fontFamily: var(--font-family),
            fontSize: 1em,
            fontWeight: 600,
            lineHeight: 1em,
            letterSpacing: unset,
            minWidth: auto,
            width: auto,
            textTransformation: uppercase,
            contentGap: var(--size-sm),
            justifyContent: center,
            alignItems: center,
            cursor: pointer,
            whiteSpace: nowrap,
            position: relative,
            display: flex,
            flexDirection: row,
            textDecoration: none,
            disabled:
            (
                opacity: 0.75,
                cursor: not-allowed,
            ),
            primary:
            (
                background: unset,
                foreground: unset,
                borderColor: var(--button-primary-background),
                icon: var(--button-primary-foreground),
                hover:
                (
                    background: unset,
                    foreground: var(--button-primary-foreground),
                    borderColor: var(--button-primary-hover-background),
                    icon: var(--button-primary-icon),
                ),
                active:
                (
                    background: unset,
                    foreground: var(--button-primary-foreground),
                    borderColor: var(--button-primary-active-background),
                    icon: var(--button-primary-icon),
                ),
                disabled:
                (
                    background: inherit,
                    foreground: inherit,
                    borderColor: inherit,
                    icon: inherit,
                ),
                onlyContent:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: var(--button-primary-onlyContent-background),
                    icon: unset,
                    hover:
                    (
                        background: unset,
                        foreground: var(--button-primary-onlyContent-foreground),
                        borderColor: var(--button-primary-onlyContent-hover-background),
                        icon: var(--button-primary-onlyContent-icon),
                    ),
                    active:
                    (
                        background: unset,
                        foreground: var(--button-primary-onlyContent-foreground),
                        borderColor: var(--button-primary-onlyContent-active-background),
                        icon: var(--button-primary-onlyContent-icon),
                    ),
                    disabled:
                    (
                        background: unset,
                        foreground: var(--button-primary-foreground),
                        borderColor: var(--button-primary-active-background),
                        icon: var(--button-primary-icon),
                    ),
                ),
            ),
            success:
            (
                background: unset,
                foreground: unset,
                borderColor: var(--button-success-background),
                icon: var(--button-success-foreground),
                hover:
                (
                    background: unset,
                    foreground: var(--button-success-foreground),
                    borderColor: var(--button-success-hover-background),
                    icon: var(--button-success-icon),
                ),
                active:
                (
                    background: unset,
                    foreground: var(--button-success-foreground),
                    borderColor: var(--button-success-active-background),
                    icon: var(--button-success-icon),
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                    icon: unset,
                ),
                onlyContent:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: var(--button-success-onlyContent-background),
                    icon: unset,
                    hover:
                    (
                        background: unset,
                        foreground: var(--button-success-onlyContent-foreground),
                        borderColor: var(--button-success-onlyContent-hover-background),
                        icon: var(--button-success-onlyContent-icon),
                    ),
                    active:
                    (
                        background: unset,
                        foreground: var(--button-success-onlyContent-foreground),
                        borderColor: var(--button-success-onlyContent-active-background),
                        icon: var(--button-success-onlyContent-icon),
                    ),
                    disabled:
                    (
                        background: unset,
                        foreground: var(--button-success-foreground),
                        borderColor: var(--button-success-active-background),
                        icon: var(--button-success-icon),
                    ),
                ),
            ),
            info:
            (
                background: unset,
                foreground: unset,
                borderColor: var(--button-info-background),
                icon: var(--button-info-foreground),
                hover:
                (
                    background: unset,
                    foreground: var(--button-info-foreground),
                    borderColor: var(--button-info-hover-background),
                    icon: var(--button-info-icon),
                ),
                active:
                (
                    background: unset,
                    foreground: var(--button-info-foreground),
                    borderColor: var(--button-info-active-background),
                    icon: var(--button-info-icon),
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                    icon: unset,
                ),
                onlyContent:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: var(--button-info-onlyContent-background),
                    icon: unset,
                    hover:
                    (
                        background: unset,
                        foreground: var(--button-info-onlyContent-foreground),
                        borderColor: var(--button-info-onlyContent-hover-background),
                        icon: var(--button-info-onlyContent-icon),
                    ),
                    active:
                    (
                        background: unset,
                        foreground: var(--button-info-onlyContent-foreground),
                        borderColor: var(--button-info-onlyContent-active-background),
                        icon: var(--button-info-onlyContent-icon),
                    ),
                    disabled:
                    (
                        background: unset,
                        foreground: var(--button-info-foreground),
                        borderColor: var(--button-info-active-background),
                        icon: var(--button-info-icon),
                    ),
                ),
            ),
            warning:
            (
                background: unset,
                foreground: unset,
                borderColor: var(--button-warning-background),
                icon: var(--button-warning-foreground),
                hover:
                (
                    background: unset,
                    foreground: var(--button-warning-foreground),
                    borderColor: var(--button-warning-hover-background),
                    icon: var(--button-warning-icon),
                ),
                active:
                (
                    background: unset,
                    foreground: var(--button-warning-foreground),
                    borderColor: var(--button-warning-active-background),
                    icon: var(--button-warning-icon),
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                    icon: unset,
                ),
                onlyContent:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: var(--button-warning-onlyContent-background),
                    icon: unset,
                    hover:
                    (
                        background: unset,
                        foreground: var(--button-warning-onlyContent-foreground),
                        borderColor: var(--button-warning-onlyContent-hover-background),
                        icon: var(--button-warning-onlyContent-icon),
                    ),
                    active:
                    (
                        background: unset,
                        foreground: var(--button-warning-onlyContent-foreground),
                        borderColor: var(--button-warning-onlyContent-active-background),
                        icon: var(--button-warning-onlyContent-icon),
                    ),
                    disabled:
                    (
                        background: unset,
                        foreground: var(--button-warning-foreground),
                        borderColor: var(--button-warning-active-background),
                        icon: var(--button-warning-icon),
                    ),
                ),
            ),
            danger:
            (
                background: unset,
                foreground: unset,
                borderColor: var(--button-danger-background),
                icon: var(--button-danger-foreground),
                hover:
                (
                    background: unset,
                    foreground: var(--button-danger-foreground),
                    borderColor: var(--button-danger-hover-background),
                    icon: var(--button-danger-icon),
                ),
                active:
                (
                    background: unset,
                    foreground: var(--button-danger-foreground),
                    borderColor: var(--button-danger-active-background),
                    icon: var(--button-danger-icon),
                ),
                disabled:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: unset,
                    icon: unset,
                ),
                onlyContent:
                (
                    background: unset,
                    foreground: unset,
                    borderColor: var(--button-danger-onlyContent-background),
                    icon: unset,
                    hover:
                    (
                        background: unset,
                        foreground: var(--button-danger-onlyContent-foreground),
                        borderColor: var(--button-danger-onlyContent-hover-background),
                        icon: var(--button-danger-onlyContent-icon),
                    ),
                    active:
                    (
                        background: unset,
                        foreground: var(--button-danger-onlyContent-foreground),
                        borderColor: var(--button-danger-onlyContent-active-background),
                        icon: var(--button-danger-onlyContent-icon),
                    ),
                    disabled:
                    (
                        background: unset,
                        foreground: var(--button-danger-foreground),
                        borderColor: var(--button-danger-active-background),
                        icon: var(--button-danger-icon),
                    ),
                ),
            ),
        ),
    );
    
    $theme: map.deep-merge($defaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return $theme;
}
