@use 'sass:color';
@use 'sass:map';
@use 'defaultTheme' as *;

@use 'defaultTheme';
@use '@css-styles/common' as mixins;

//############## FONT ##############

$defaultFontSize: 14px;

//############## AVAILABLE COLORS ##############

$white: #ffffff;
$black: #111111;

$gray-0: #e5e5e5;
$gray-1: #e0e0e0;
$gray-2: #cccccc;
$gray-3: #aaaaaa;
$gray-4: #9d9d9d;
$gray-5: #737373;
$gray-6: #555555;
$gray-7: #444444;
$gray-8: #383838;
$gray-9: #1e1e1e;

$almostWhite: #f5f5f5;
$green: #6aba4f;
$lightBlue: #5bc0de;
$blue: #337ab7;
$azure: #00a3e0;
$red: #ec0e0e;
$orangeRed: #e45514;
$orange: #e4a256;
$yellowGreen: #bbdd4f;
$yellow: #d4da03;
$brown: #6b4b02;
$transparentBlack: #00000066;

//############## DEFAULT THEME ##############

$_defaultTheme:
(
    fontFamily: 'Inter',
    page:
    (
        background: $white,
        foreground: $black,
        scrollbar: color.scale($white, $lightness: 14%),
    ),
    primary:
    (
        background: $gray-0,
        foreground: $black,
        scrollbar: color.scale($gray-0, $lightness: 14%),
    ),
    secondary:
    (
        background: $gray-7,
        foreground: $white,
        scrollbar: color.scale($gray-7, $lightness: 14%),
    ),
    block:
    (
        background: $white,
        foreground: $black,
        scrollbar: color.scale($white, $lightness: 14%),
    ),
    pageTitle:
    (
        background: $gray-8,
        foreground: $gray-1,
    ),
    mainMenu:
    (
        background: $orangeRed,
        backgroundGradient: color.scale($gray-0, $lightness: -6%, $saturation: 10%),
        backgroundGradient2: color.scale($gray-0, $lightness: -12%, $saturation: 2%),
        foreground: $gray-6,
        active:
        (
            foreground: $white,
            background: inherit,
        ),
        drawer:
        (
            background: $white,
            foreground: $black,
        )
    ),
    dialog:
    (
        border: $gray-7,
        title:
        (
            background: $gray-8,
            foreground: $gray-0,
        ),
        content:
        (
            background: $white,
            foreground: $black,
        ),
        closeButton:
        (
            hover:
            (
                background: color.scale($gray-8, $lightness: 10%),
                foreground: color.scale($gray-0, $lightness: 10%),
            ),
        ),
    ),
    input:
    (
        background: $white,
        foreground: $gray-6,
        border: $gray-3,
        padding: mixins.getSize($defaultFontSize, 5) mixins.getSize($defaultFontSize, 12),
        placeholder: $gray-4,
        groupAddon:
        (
            background: color.scale($gray-0, $lightness: 30%),
            foreground: inherit,
            padding: mixins.getSize($defaultFontSize, 5) mixins.getSize($defaultFontSize, 4),
        ),
        disabled:
        (
            background: $gray-4,
            foreground: $gray-6,
            border: $gray-3,
        ),
        invalid:
        (
            border: $red,
        ),
        error:
        (
            background: inherit,
            foreground: $red,
            outline: $red,
        ),
    ),
    formGroup:
    (
        margin: 0 mixins.getSize($defaultFontSize, 10) mixins.getSize($defaultFontSize, 10) 0,
    ),
    label:
    (
        margin: 0 0 mixins.getSize($defaultFontSize, 2),
        font:
        (
            size: 1em,
            weight: bold,
        ),
        invalid:
        (
            foreground: $red,
            background: inherit,
        ),
    ),
    select:
    (
        tag:
        (
            background: $azure,
            foreground: $black,
            padding: mixins.getSize($defaultFontSize * .8, 1) mixins.getSize($defaultFontSize * .8, 3),
            fontSize: .8em,
        ),
    ),
    grid:
    (
        header:
        (
            background: $gray-8,
            foreground: $white,
        ),
        evenRow:
        (
            background: $white,
            foreground: inherit,
        ),
        oddRow:
        (
            background: $gray-0,
            foreground: inherit,
        ),
    ),
    separator:
    (
        background: inherit,
        foreground: $gray-6,
    ),
    level:
    (
        succes: $green,
        info: $lightBlue,
        warning: $orange,
        error: $red,
        default: $gray-5,
    ),
    weight:
    (
        foreground: $white,
        weight-0: $green,
        weight-1: $yellowGreen,
        weight-2: $yellow,
        weight-3: $orange,
        weight-4: $orangeRed,
        weight-5: $red,
    ),
    alert:
    (
        info:
        (
            background: $lightBlue,
            foreground: $white,
        ),
        warning:
        (
            background: $orange,
            foreground: $white,
        ),
        success:
        (
            background: $green,
            foreground: $white,
        ),
        danger:
        (
            background: $red,
            foreground: $white,
        ),
        error:
        (
            background: $red,
            foreground: $white,
        ),
    ),
    text:
    (
        primary:
        (
            background: inherit,
            foreground: $azure,
        ),
        danger:
        (
            background: inherit,
            foreground: $red,
        ),
        warning:
        (
            background: inherit,
            foreground: $orange,
        ),
        success:
        (
            background: inherit,
            foreground: $green,
        ),
        info:
        (
            background: inherit,
            foreground: $lightBlue,
        ),
    ),
    button:
    (
        spaceBetween: mixins.getSize($defaultFontSize, 10),
        padding: mixins.getSize($defaultFontSize, 4) mixins.getSize($defaultFontSize, 10),
        textTransformation: uppercase,
        primary:
        (
            background: $green,
            foreground: $white,
        ),
        secondary:
        (
            background: $gray-5,
            foreground: $white,
        ),
        info:
        (
            background: $lightBlue,
            foreground: $white,
        ),
        default:
        (
            background: $gray-5,
            foreground: $white,
        ),
        success:
        (
            background: $green,
            foreground: $white,
        ),
        warning:
        (
            background: $orange,
            foreground: $white,
        ),
        danger:
        (
            background: $red,
            foreground: $white,
        ),
        error:
        (
            background: $red,
            foreground: $white,
        ),
        icon:
        (
            background: inherit,
            foreground: $gray-5,
            hover:
            (
                background: inherit,
                foreground: $green,
            ),
        ),
    ),
    slideToggle:
    (
        track:
        (
            normal: $blue,
            hover: $lightBlue,
            pressed: $azure,
            focus: $lightBlue,
        ),
        handle:
        (
            normal: $blue,
            hover: $lightBlue,
            pressed: $azure,
            focus: $lightBlue,
        ),
        icon: $white,
        foreground: $gray-1,
        onPrimary:
        (
            foreground: $black,
        ),
    ),
);

$paging:
(
    pagingCommon:
    (
        anchor:
        (
            background: $white,
            foreground: $azure,
            active:
            (
                background: $azure,
                foreground: $white,
            ),
        ),
    ),
);

@function defineTheme($colors: ())
{
    $theme: map.deep-merge($_defaultTheme, $colors);

    @return $theme;
}
