@use 'sass:color';
@use 'sass:map';

@use '@css-styles/common' as mixins;

//############## FONT ##############

$_defaultFontSize: 14px;

//############## AVAILABLE COLORS ##############

$_white: #ffffff;
$_black: #111111;

$_gray-0: #e5e5e5;
$_gray-1: #e0e0e0;
$_gray-2: #cccccc;
$_gray-3: #aaaaaa;
$_gray-4: #9d9d9d;
$_gray-5: #737373;
$_gray-6: #555555;
$_gray-7: #444444;
$_gray-8: #383838;
$_gray-9: #1e1e1e;

$_almostWhite: #f5f5f5;
$_green: #6aba4f;
$_lightBlue: #5bc0de;
$_blue: #337ab7;
$_azure: #00a3e0;
$_red: #ec0e0e;
$_orangeRed: #e45514;
$_orange: #e4a256;
$_yellowGreen: #bbdd4f;
$_yellow: #d4da03;
$_brown: #6b4b02;
$_transparentBlack: #00000066;

//############## DEFAULT THEME ##############

$_defaultTheme:
(
    fontFamily: 'Inter',
    page:
    (
        background: $_white,
        foreground: $_black,
        scrollbar: color.scale($_white, $lightness: 14%),
    ),
    primary:
    (
        background: $_gray-0,
        foreground: $_black,
        scrollbar: color.scale($_gray-0, $lightness: 14%),
    ),
    secondary:
    (
        background: $_gray-7,
        foreground: $_white,
        scrollbar: color.scale($_gray-7, $lightness: 14%),
    ),
    block:
    (
        background: $_white,
        foreground: $_black,
        scrollbar: color.scale($_white, $lightness: 14%),
    ),
    pageTitle:
    (
        background: $_gray-8,
        foreground: $_gray-1,
        padding: 1rem 1.5rem,
        margin: var(--size-sm) 0 0,
        fontSize: 1.5em,
    ),
    mainMenu:
    (
        background: $_orangeRed,
        backgroundGradient: color.scale($_gray-0, $lightness: -6%, $saturation: 10%),
        backgroundGradient2: color.scale($_gray-0, $lightness: -12%, $saturation: 2%),
        foreground: $_gray-6,
        active:
        (
            foreground: $_white,
            background: inherit,
        ),
        drawer:
        (
            background: $_white,
            foreground: $_black,
        )
    ),
    dialog:
    (
        border: $_gray-7,
        title:
        (
            background: $_gray-8,
            foreground: $_gray-0,
        ),
        content:
        (
            background: $_white,
            foreground: $_black,
        ),
        closeButton:
        (
            hover:
            (
                background: color.scale($_gray-8, $lightness: 10%),
                foreground: color.scale($_gray-0, $lightness: 10%),
            ),
        ),
    ),
    inputs:
    (
        columnGap: mixins.getSize($_defaultFontSize, 10),
        rowGap: mixins.getSize($_defaultFontSize, 10),
    ),
    input:
    (
        background: $_white,
        foreground: $_gray-6,
        border: $_gray-3,
        padding: mixins.getSize($_defaultFontSize, 5) mixins.getSize($_defaultFontSize, 12),
        placeholder: $_gray-4,
        groupAddon:
        (
            background: color.scale($_gray-0, $lightness: 30%),
            foreground: inherit,
            padding: mixins.getSize($_defaultFontSize, 5) mixins.getSize($_defaultFontSize, 4),
        ),
        disabled:
        (
            background: $_gray-4,
            foreground: $_gray-6,
            border: $_gray-3,
        ),
        invalid:
        (
            border: $_red,
        ),
        error:
        (
            background: inherit,
            foreground: $_red,
            outline: $_red,
        ),
        errors:
        (
            background: inherit,
            foreground: $_red,
            fontSize: 0.7em,
            padding: 0,
            border:
            (
                color: transparent,
                width: 0,
                style: solid,
            ),
        ),
    ),
    label:
    (
        margin: 0 0 mixins.getSize($_defaultFontSize, 2),
        font:
        (
            size: 1em,
            weight: bold,
        ),
        invalid:
        (
            foreground: $_red,
            background: inherit,
        ),
    ),
    select:
    (
        tag:
        (
            background: $_azure,
            foreground: $_black,
            padding: mixins.getSize($_defaultFontSize * .8, 1) mixins.getSize($_defaultFontSize * .8, 3),
            fontSize: .8em,
        ),
    ),
    grid:
    (
        header:
        (
            background: $_gray-8,
            foreground: $_white,
        ),
        evenRow:
        (
            background: $_white,
            foreground: inherit,
        ),
        oddRow:
        (
            background: $_gray-0,
            foreground: inherit,
        ),
    ),
    separator:
    (
        background: inherit,
        foreground: $_gray-6,
    ),
    level:
    (
        succes: $_green,
        info: $_lightBlue,
        warning: $_orange,
        error: $_red,
        default: $_gray-5,
    ),
    weight:
    (
        foreground: $_white,
        weight-0: $_green,
        weight-1: $_yellowGreen,
        weight-2: $_yellow,
        weight-3: $_orange,
        weight-4: $_orangeRed,
        weight-5: $_red,
    ),
    alert:
    (
        info:
        (
            background: $_lightBlue,
            foreground: $_white,
        ),
        warning:
        (
            background: $_orange,
            foreground: $_white,
        ),
        success:
        (
            background: $_green,
            foreground: $_white,
        ),
        danger:
        (
            background: $_red,
            foreground: $_white,
        ),
        error:
        (
            background: $_red,
            foreground: $_white,
        ),
    ),
    text:
    (
        primary:
        (
            background: inherit,
            foreground: $_azure,
        ),
        danger:
        (
            background: inherit,
            foreground: $_red,
        ),
        warning:
        (
            background: inherit,
            foreground: $_orange,
        ),
        success:
        (
            background: inherit,
            foreground: $_green,
        ),
        info:
        (
            background: inherit,
            foreground: $_lightBlue,
        ),
    ),
    buttons:
    (
        columnGap: mixins.getSize($_defaultFontSize, 10),
        rowGap: mixins.getSize($_defaultFontSize, 10),
    ),
    button:
    (
        spaceBetween: mixins.getSize($_defaultFontSize, 10),
        padding: mixins.getSize($_defaultFontSize, 4) mixins.getSize($_defaultFontSize, 10),
        letterSpacing: var(--size-1px),
        textShadow: 0 0,
        boxShadow: 0 0,
        transition: all 350ms,
        border: none,
        borderRadius: var(--border-radius),
        fontSize: 1em,
        fontWeight: normal,
        minWidth: auto,
        textTransformation: uppercase,
        contentGap: var(--size-xs),
        iconFilter: brightness(80%),
        hover:
        (
            filter: brightness(92%),
            backgroundImage: unset,
            background: unset,
            foreground: unset,
        ),
        focus:
        (
            filter: brightness(92%),
            backgroundImage: unset,
            background: unset,
            foreground: unset,
        ),
        active:
        (
            filter: brightness(85%),
            backgroundImage: unset,
            background: unset,
            foreground: unset,
        ),
        primary:
        (
            background: $_green,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-primary-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-primary-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-primary-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-primary-iconForeground),
            ),
        ),
        secondary:
        (
            background: $_gray-5,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-secondary-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-secondary-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-secondary-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-secondary-iconForeground),
            ),
        ),
        info:
        (
            background: $_lightBlue,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-info-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-info-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-info-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-info-iconForeground),
            ),
        ),
        default:
        (
            background: $_gray-5,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-default-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-default-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-default-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-default-iconForeground),
            ),
        ),
        success:
        (
            background: $_green,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-success-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-success-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-success-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-success-iconForeground),
            ),
        ),
        warning:
        (
            background: $_orange,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-warning-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-warning-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-warning-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-warning-iconForeground),
            ),
        ),
        danger:
        (
            background: $_red,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-danger-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-danger-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-danger-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-danger-iconForeground),
            ),
        ),
        error:
        (
            background: $_red,
            foreground: $_white,
            backgroundImage: unset,
            iconForeground: var(--button-error-background),
            iconFilter: var(--button-iconFilter),
            hover:
            (
                filter: var(--button-hover-filter),
                backgroundImage: var(--button-hover-backgroundImage),
                background: var(--button-hover-background),
                foreground: var(--button-hover-foreground),
                iconForeground: var(--button-error-iconForeground),
            ),
            focus:
            (
                filter: var(--button-focus-filter),
                backgroundImage: var(--button-focus-backgroundImage),
                background: var(--button-focus-background),
                foreground: var(--button-focus-foreground),
                iconForeground: var(--button-error-iconForeground),
            ),
            active:
            (
                filter: var(--button-active-filter),
                backgroundImage: var(--button-active-backgroundImage),
                background: var(--button-active-background),
                foreground: var(--button-active-foreground),
                iconForeground: var(--button-error-iconForeground),
            ),
        ),
        icon:
        (
            background: inherit,
            foreground: $_gray-5,
            hover:
            (
                background: inherit,
                foreground: $_green,
            ),
        ),
    ),
    slideToggle:
    (
        track:
        (
            normal: $_blue,
            hover: $_lightBlue,
            pressed: $_azure,
            focus: $_lightBlue,
        ),
        handle:
        (
            normal: $_blue,
            hover: $_lightBlue,
            pressed: $_azure,
            focus: $_lightBlue,
        ),
        icon: $_white,
        foreground: $_gray-1,
        onPrimary:
        (
            foreground: $_black,
        ),
    ),
);

@function defineTheme($theme: (), $customization: ())
{
    $theme: map.deep-merge($_defaultTheme, $theme);
    $theme: map.deep-merge($theme, $customization);

    @return $theme;
}
