@use 'sass:map';

@use '@css-styles/common' as mixins;

@mixin buildFontFamily($theme)
{
    --font-family: #{map.get($theme, 'fontFamily')};
}

@mixin buildPageThemeVars($theme)
{
    $page: map.get($theme, 'page');
    
    @include mixins.buildCssVars('--page', $page);
}

@mixin buildTitleThemeVars($theme)
{
    $title: map.get($theme, 'title');

    @include mixins.buildCssVars('--title', $title);
}

@mixin buildBlockThemeVars($theme)
{
    $blocks: map.get($theme, 'block');

    @include mixins.buildCssVars('--block', $blocks);
}

@mixin buildMiscThemeVars($theme)
{
    $miscs: map.get($theme, 'misc');

    @include mixins.buildCssVars('--misc', $miscs);
}

@mixin buildLevelThemeVars($theme)
{
    $levels: map.get($theme, 'level');

    @include mixins.buildCssVars('--level', $levels);
}

@mixin buildThemeThemeVars($theme)
{
    $themes: map.get($theme, 'theme');

    @include mixins.buildCssVars('--theme', $themes);
}

@mixin buildAlertThemeVars($theme)
{
    $alert: map.get($theme, 'alert');

    @include mixins.buildCssVars('--alert', $alert);
}

@mixin buildTextThemeVars($theme)
{
    $text: map.get($theme, 'text');

    @include mixins.buildCssVars('--text', $text);
}

@mixin buildMainMenuThemeVars($theme)
{
    $mainMenu: map.get($theme, 'mainMenu');

    @include mixins.buildCssVars('--mainMenu', $mainMenu);
}

@mixin buildDialogThemeVars($theme)
{
    $dialog: map.get($theme, 'dialog');

    @include mixins.buildCssVars('--dialog', $dialog);
}

@mixin buildFormsThemeVars($theme)
{
    $formGroup: map.get($theme, 'formGroup');

    @include mixins.buildCssVars('--formGroup', $formGroup);

    $inputs: map.get($theme, 'inputs');

    @include mixins.buildCssVars('--inputs', $inputs);

    $input: map.get($theme, 'input');

    @include mixins.buildCssVars('--input', $input);

    $label: map.get($theme, 'label');

    @include mixins.buildCssVars('--label', $label);

    $select: map.get($theme, 'select');

    @include mixins.buildCssVars('--select', $select);
}

@mixin buildGridThemeVars($theme)
{
    $grid: map.get($theme, 'grid');

    @include mixins.buildCssVars('--grid', $grid);
}

@mixin buildButtonThemeVars($theme)
{
    $buttons: map.get($theme, 'buttons');

    @include mixins.buildCssVars('--buttons', $buttons);

    $button: map.get($theme, 'button');

    @include mixins.buildCssVars('--button', $button);
}

@mixin buildThemeVars($theme)
{
    @include buildFontFamily($theme);
    @include buildPageThemeVars($theme);
    @include buildTitleThemeVars($theme);
    @include buildBlockThemeVars($theme);
    @include buildMiscThemeVars($theme);
    @include buildLevelThemeVars($theme);
    @include buildThemeThemeVars($theme);
    @include buildAlertThemeVars($theme);
    @include buildTextThemeVars($theme);
    @include buildMainMenuThemeVars($theme);
    @include buildDialogThemeVars($theme);
    @include buildFormsThemeVars($theme);
    @include buildGridThemeVars($theme);
    @include buildButtonThemeVars($theme);
}
