@use 'sass:map';

@mixin buildFontFamily($theme)
{
    --font-family: #{map.get($theme, 'fontFamily')};
}

@mixin buildBlockTheme($theme)
{
    --page-background: #{map.get(map.get($theme, 'page'), 'background')};
    --page-foreground: #{map.get(map.get($theme, 'page'), 'foreground')};
    --page-scrollbar: #{map.get(map.get($theme, 'page'), 'scrollbar')};
    --primary-background: #{map.get(map.get($theme, 'primary'), 'background')};
    --primary-foreground: #{map.get(map.get($theme, 'primary'), 'foreground')};
    --primary-scrollbar: #{map.get(map.get($theme, 'primary'), 'scrollbar')};
    --secondary-background: #{map.get(map.get($theme, 'secondary'), 'background')};
    --secondary-foreground: #{map.get(map.get($theme, 'secondary'), 'foreground')};
    --secondary-scrollbar: #{map.get(map.get($theme, 'secondary'), 'scrollbar')};
    --block-background: #{map.get(map.get($theme, 'block'), 'background')};
    --block-foreground: #{map.get(map.get($theme, 'block'), 'foreground')};
    --block-scrollbar: #{map.get(map.get($theme, 'block'), 'scrollbar')};
}

@mixin buildTitleTheme($theme)
{
    --pageTitle-background: #{map.get(map.get($theme, 'pageTitle'), 'background')};
    --pageTitle-foreground: #{map.get(map.get($theme, 'pageTitle'), 'foreground')};
    --pageTitle-padding: #{map.get(map.get($theme, 'pageTitle'), 'padding')};
    --pageTitle-margin: #{map.get(map.get($theme, 'pageTitle'), 'margin')};
    --pageTitle-fontSize: #{map.get(map.get($theme, 'pageTitle'), 'fontSize')};
    --pageTitle-border: #{map.get(map.get($theme, 'pageTitle'), 'border')};
    --pageTitle-borderTop: #{map.get(map.get($theme, 'pageTitle'), 'borderTop')};
    --pageTitle-borderRight: #{map.get(map.get($theme, 'pageTitle'), 'borderRight')};
    --pageTitle-borderBottom: #{map.get(map.get($theme, 'pageTitle'), 'borderBottom')};
    --pageTitle-borderLeft: #{map.get(map.get($theme, 'pageTitle'), 'borderLeft')};
}

@mixin buildMainMenuTheme($theme)
{
    --mainMenu-background: #{map.get(map.get($theme, 'mainMenu'), 'background')};
    --mainMenu-backgroundGradient: #{map.get(map.get($theme, 'mainMenu'), 'backgroundGradient')};
    --mainMenu-backgroundGradient2: #{map.get(map.get($theme, 'mainMenu'), 'backgroundGradient2')};
    --mainMenu-foreground: #{map.get(map.get($theme, 'mainMenu'), 'foreground')};
    --mainMenu-active-background: #{map.get(map.get(map.get($theme, 'mainMenu'), 'active'), 'background')};
    --mainMenu-active-foreground: #{map.get(map.get(map.get($theme, 'mainMenu'), 'active'), 'foreground')};
    --mainMenu-drawer-background: #{map.get(map.get(map.get($theme, 'mainMenu'), 'drawer'), 'background')};
    --mainMenu-drawer-foreground: #{map.get(map.get(map.get($theme, 'mainMenu'), 'drawer'), 'foreground')};
}

@mixin buildDialogTheme($theme)
{
    --dialog-border: #{map.get(map.get($theme, 'dialog'), 'border')};
    --dialog-title-background: #{map.get(map.get(map.get($theme, 'dialog'), 'title'), 'background')};
    --dialog-title-foreground: #{map.get(map.get(map.get($theme, 'dialog'), 'title'), 'foreground')};
    --dialog-content-background: #{map.get(map.get(map.get($theme, 'dialog'), 'content'), 'background')};
    --dialog-content-foreground: #{map.get(map.get(map.get($theme, 'dialog'), 'content'), 'foreground')};
    --dialog-closeButton-hover-background: #{map.get(map.get(map.get(map.get($theme, 'dialog'), 'closeButton'), 'hover'), 'background')};
    --dialog-closeButton-hover-foreground: #{map.get(map.get(map.get(map.get($theme, 'dialog'), 'closeButton'), 'hover'), 'foreground')};
}

@mixin buildFormsTheme($theme)
{
    --inputs-columnGap: #{map.get(map.get($theme, 'inputs'), 'columnGap')};
    --inputs-rowGap: #{map.get(map.get($theme, 'inputs'), 'rowGap')};
    --input-background: #{map.get(map.get($theme, 'input'), 'background')};
    --input-foreground: #{map.get(map.get($theme, 'input'), 'foreground')};
    --input-border: #{map.get(map.get($theme, 'input'), 'border')};
    --input-padding: #{map.get(map.get($theme, 'input'), 'padding')};
    --input-placeholder: #{map.get(map.get($theme, 'input'), 'placeholder')};
    --input-groupAddon-background: #{map.get(map.get(map.get($theme, 'input'), 'groupAddon'), 'background')};
    --input-groupAddon-foreground: #{map.get(map.get(map.get($theme, 'input'), 'groupAddon'), 'foreground')};
    --input-groupAddon-padding: #{map.get(map.get(map.get($theme, 'input'), 'groupAddon'), 'padding')};
    --input-disabled-background: #{map.get(map.get(map.get($theme, 'input'), 'disabled'), 'background')};
    --input-disabled-foreground: #{map.get(map.get(map.get($theme, 'input'), 'disabled'), 'foreground')};
    --input-disabled-border: #{map.get(map.get(map.get($theme, 'input'), 'disabled'), 'border')};
    --input-invalid-border: #{map.get(map.get(map.get($theme, 'input'), 'invalid'), 'border')};
    --input-error-background: #{map.get(map.get(map.get($theme, 'input'), 'error'), 'background')};
    --input-error-foreground: #{map.get(map.get(map.get($theme, 'input'), 'error'), 'foreground')};
    --input-error-outline: #{map.get(map.get(map.get($theme, 'input'), 'error'), 'outline')};
    --input-errors-background: #{map.get(map.get(map.get($theme, 'input'), 'errors'), 'background')};
    --input-errors-foreground: #{map.get(map.get(map.get($theme, 'input'), 'errors'), 'foreground')};
    --input-errors-fontSize: #{map.get(map.get(map.get($theme, 'input'), 'errors'), 'fontSize')};
    --input-errors-padding: #{map.get(map.get(map.get($theme, 'input'), 'errors'), 'padding')};
    --input-errors-border-color: #{map.get(map.get(map.get(map.get($theme, 'input'), 'errors'), 'border'), 'color')};
    --input-errors-border-width: #{map.get(map.get(map.get(map.get($theme, 'input'), 'errors'), 'border'), 'width')};
    --input-errors-border-style: #{map.get(map.get(map.get(map.get($theme, 'input'), 'errors'), 'border'), 'style')};
    --label-invalid-background: #{map.get(map.get(map.get($theme, 'label'), 'invalid'), 'background')};
    --label-invalid-foreground: #{map.get(map.get(map.get($theme, 'label'), 'invalid'), 'foreground')};
    --label-font-size: #{map.get(map.get(map.get($theme, 'label'), 'font'), 'size')};
    --label-font-weight: #{map.get(map.get(map.get($theme, 'label'), 'font'), 'weight')};
    --label-margin: #{map.get(map.get($theme, 'label'), 'margin')};
    --select-tag-background: #{map.get(map.get(map.get($theme, 'select'), 'tag'), 'background')};
    --select-tag-foreground: #{map.get(map.get(map.get($theme, 'select'), 'tag'), 'foreground')};
    --select-tag-padding: #{map.get(map.get(map.get($theme, 'select'), 'tag'), 'padding')};
    --select-tag-fontSize: #{map.get(map.get(map.get($theme, 'select'), 'tag'), 'fontSize')};
}

@mixin buildGridTheme($theme)
{
    --grid-header-background: #{map.get(map.get(map.get($theme, 'grid'), 'header'), 'background')};
    --grid-header-foreground: #{map.get(map.get(map.get($theme, 'grid'), 'header'), 'foreground')};
    --grid-evenRow-background: #{map.get(map.get(map.get($theme, 'grid'), 'evenRow'), 'background')};
    --grid-evenRow-foreground: #{map.get(map.get(map.get($theme, 'grid'), 'evenRow'), 'foreground')};
    --grid-oddRow-background: #{map.get(map.get(map.get($theme, 'grid'), 'oddRow'), 'background')};
    --grid-oddRow-foreground: #{map.get(map.get(map.get($theme, 'grid'), 'oddRow'), 'foreground')};
}

@mixin buildMiscTheme($theme)
{
    --separator-background: #{map.get(map.get($theme, 'separator'), 'background')};
    --separator-foreground: #{map.get(map.get($theme, 'separator'), 'foreground')};
    --level-succes: #{map.get(map.get($theme, 'level'), 'succes')};
    --level-info: #{map.get(map.get($theme, 'level'), 'info')};
    --level-warning: #{map.get(map.get($theme, 'level'), 'warning')};
    --level-error: #{map.get(map.get($theme, 'level'), 'error')};
    --level-default: #{map.get(map.get($theme, 'level'), 'default')};
    --weight-foreground: #{map.get(map.get($theme, 'weight'), 'foreground')};
    --weight-weight-0: #{map.get(map.get($theme, 'weight'), 'weight-0')};
    --weight-weight-1: #{map.get(map.get($theme, 'weight'), 'weight-1')};
    --weight-weight-2: #{map.get(map.get($theme, 'weight'), 'weight-2')};
    --weight-weight-3: #{map.get(map.get($theme, 'weight'), 'weight-3')};
    --weight-weight-4: #{map.get(map.get($theme, 'weight'), 'weight-4')};
    --weight-weight-5: #{map.get(map.get($theme, 'weight'), 'weight-5')};
}

@mixin buildAlertTheme($theme)
{
    --alert-info-background: #{map.get(map.get(map.get($theme, 'alert'), 'info'), 'background')};
    --alert-info-foreground: #{map.get(map.get(map.get($theme, 'alert'), 'info'), 'foreground')};
    --alert-warning-background: #{map.get(map.get(map.get($theme, 'alert'), 'warning'), 'background')};
    --alert-warning-foreground: #{map.get(map.get(map.get($theme, 'alert'), 'warning'), 'foreground')};
    --alert-success-background: #{map.get(map.get(map.get($theme, 'alert'), 'success'), 'background')};
    --alert-success-foreground: #{map.get(map.get(map.get($theme, 'alert'), 'success'), 'foreground')};
    --alert-danger-background: #{map.get(map.get(map.get($theme, 'alert'), 'danger'), 'background')};
    --alert-danger-foreground: #{map.get(map.get(map.get($theme, 'alert'), 'danger'), 'foreground')};
    --alert-error-background: #{map.get(map.get(map.get($theme, 'alert'), 'error'), 'background')};
    --alert-error-foreground: #{map.get(map.get(map.get($theme, 'alert'), 'error'), 'foreground')};
}

@mixin buildTextTheme($theme)
{
    --text-primary-background: #{map.get(map.get(map.get($theme, 'text'), 'primary'), 'background')};
    --text-primary-foreground: #{map.get(map.get(map.get($theme, 'text'), 'primary'), 'foreground')};
    --text-info-background: #{map.get(map.get(map.get($theme, 'text'), 'info'), 'background')};
    --text-info-foreground: #{map.get(map.get(map.get($theme, 'text'), 'info'), 'foreground')};
    --text-warning-background: #{map.get(map.get(map.get($theme, 'text'), 'warning'), 'background')};
    --text-warning-foreground: #{map.get(map.get(map.get($theme, 'text'), 'warning'), 'foreground')};
    --text-success-background: #{map.get(map.get(map.get($theme, 'text'), 'success'), 'background')};
    --text-success-foreground: #{map.get(map.get(map.get($theme, 'text'), 'success'), 'foreground')};
    --text-danger-background: #{map.get(map.get(map.get($theme, 'text'), 'danger'), 'background')};
    --text-danger-foreground: #{map.get(map.get(map.get($theme, 'text'), 'danger'), 'foreground')};
}

@mixin buildButtonTheme($theme)
{
    $buttonTypes: 'primary', 'secondary', 'info', 'default', 'success', 'warning', 'danger', 'error';
    $buttonActionTypes: 'hover', 'focus', 'active';

    --buttons-columnGap: #{map.get(map.get($theme, 'buttons'), 'columnGap')};
    --buttons-rowGap: #{map.get(map.get($theme, 'buttons'), 'rowGap')};
    --button-spaceBetween: #{map.get(map.get($theme, 'button'), 'spaceBetween')};
    --button-letterSpacing: #{map.get(map.get($theme, 'button'), 'letterSpacing')};
    --button-textShadow: #{map.get(map.get($theme, 'button'), 'textShadow')};
    --button-boxShadow: #{map.get(map.get($theme, 'button'), 'boxShadow')};
    --button-transition: #{map.get(map.get($theme, 'button'), 'transition')};
    --button-border: #{map.get(map.get($theme, 'button'), 'border')};
    --button-borderRadius: #{map.get(map.get($theme, 'button'), 'borderRadius')};
    --button-fontSize: #{map.get(map.get($theme, 'button'), 'fontSize')};
    --button-fontWeight: #{map.get(map.get($theme, 'button'), 'fontWeight')};
    --button-minWidth: #{map.get(map.get($theme, 'button'), 'minWidth')};
    --button-padding: #{map.get(map.get($theme, 'button'), 'padding')};
    --button-textTransformation: #{map.get(map.get($theme, 'button'), 'textTransformation')};
    --button-contentGap: #{map.get(map.get($theme, 'button'), 'contentGap')};
    --button-iconFilter: #{map.get(map.get($theme, 'button'), 'iconFilter')};

    @each $buttonActionType in $buttonActionTypes
    {
        --button-#{$buttonActionType}-filter: #{map.get(map.get(map.get($theme, 'button'), $buttonActionType), 'filter')};
        --button-#{$buttonActionType}-backgroundImage: #{map.get(map.get(map.get($theme, 'button'), $buttonActionType), 'backgroundImage')};
        --button-#{$buttonActionType}-background: #{map.get(map.get(map.get($theme, 'button'), $buttonActionType), 'background')};
        --button-#{$buttonActionType}-foreground: #{map.get(map.get(map.get($theme, 'button'), $buttonActionType), 'foreground')};
    }

    @each $buttonType in $buttonTypes
    {
        --button-#{$buttonType}-background: #{map.get(map.get(map.get($theme, 'button'), $buttonType), 'background')};
        --button-#{$buttonType}-backgroundImage: #{map.get(map.get(map.get($theme, 'button'), $buttonType), 'backgroundImage')};
        --button-#{$buttonType}-foreground: #{map.get(map.get(map.get($theme, 'button'), $buttonType), 'foreground')};
        --button-#{$buttonType}-iconForeground: #{map.get(map.get(map.get($theme, 'button'), $buttonType), 'iconForeground')};
        --button-#{$buttonType}-iconFilter: #{map.get(map.get(map.get($theme, 'button'), $buttonType), 'iconFilter')};

        @each $buttonActionType in $buttonActionTypes
        {
            --button-#{$buttonType}-#{$buttonActionType}-filter: #{map.get(map.get(map.get(map.get($theme, 'button'), $buttonType), $buttonActionType), 'filter')};
            --button-#{$buttonType}-#{$buttonActionType}-background: #{map.get(map.get(map.get(map.get($theme, 'button'), $buttonType), $buttonActionType), 'background')};
            --button-#{$buttonType}-#{$buttonActionType}-backgroundImage: #{map.get(map.get(map.get(map.get($theme, 'button'), $buttonType), $buttonActionType), 'backgroundImage')};
            --button-#{$buttonType}-#{$buttonActionType}-foreground: #{map.get(map.get(map.get(map.get($theme, 'button'), $buttonType), $buttonActionType), 'foreground')};
            --button-#{$buttonType}-#{$buttonActionType}-iconForeground: #{map.get(map.get(map.get(map.get($theme, 'button'), $buttonType), $buttonActionType), 'iconForeground')};
        }
    }

    --button-icon-background: #{map.get(map.get(map.get($theme, 'button'), 'icon'), 'background')};
    --button-icon-foreground: #{map.get(map.get(map.get($theme, 'button'), 'icon'), 'foreground')};
    --button-icon-hover-background: #{map.get(map.get(map.get(map.get($theme, 'button'), 'icon'), 'hover'), 'background')};
    --button-icon-hover-foreground: #{map.get(map.get(map.get(map.get($theme, 'button'), 'icon'), 'hover'), 'foreground')};
}

@mixin buildMatSlideToggleTheme($theme)
{
    .mat-mdc-slide-toggle.mat-accent
    {
        --mdc-switch-selected-track-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'track'), 'normal')};
        --mdc-switch-selected-handle-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'handle'), 'normal')};
        --mdc-switch-selected-hover-track-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'track'), 'hover')};
        --mdc-switch-selected-hover-handle-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'handle'), 'hover')};
        --mdc-switch-selected-pressed-track-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'track'), 'pressed')};
        --mdc-switch-selected-pressed-handle-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'handle'), 'pressed')};
        --mdc-switch-selected-focus-track-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'track'), 'focus')};
        --mdc-switch-selected-focus-handle-color: #{map.get(map.get(map.get($theme, 'slideToggle'), 'handle'), 'focus')};
        --mdc-switch-selected-icon-color: #{map.get(map.get($theme, 'slideToggle'), 'icon')};
    }

    --slideToggle-foreground: #{map.get(map.get($theme, 'slideToggle'), 'foreground')};
    --slideToggle-onPrimary-foreground: #{map.get(map.get(map.get($theme, 'slideToggle'), 'onPrimary'), 'foreground')};
}

@mixin buildThemeColors($theme)
{
    @include buildFontFamily($theme);
    @include buildBlockTheme($theme);
    @include buildTitleTheme($theme);
    @include buildMainMenuTheme($theme);
    @include buildDialogTheme($theme);
    @include buildFormsTheme($theme);
    @include buildGridTheme($theme);
    @include buildMiscTheme($theme);
    @include buildAlertTheme($theme);
    @include buildTextTheme($theme);
    @include buildButtonTheme($theme);
    @include buildMatSlideToggleTheme($theme);
}
